@model IEnumerable<YappiesTesting.Models.Program>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1 class="text-center">Programs</h1>

<form asp-action="Index">
    <div id="body" style="padding:0.5vh; background-color:#e0e0e0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">All Programs</h3>
            </div>
            <div class="form-horizontal">
                <button class="btn btn-success" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Search
                </button>
                <div class="collapse" @(ViewData["Filtering"]) id="collapseFilter">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="control-label col-md-5">Search by Program Name:</label>
                                <div class="col-md-7">
                                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-primary" />
                            <a asp-action="Index">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="overflow-y:scroll; height:78vh; max-height:78vh; padding:0;">
                @foreach (var item in Model)
                {
                    <a asp-action="Details" asp-route-id="@item.ID" style="text-decoration:none; color:black; cursor:auto; margin-top:0px;">
                        <div class="container-fluid" style="margin:0; padding:0;">
                            <div class="panel panel-default" style="margin:0; padding:0;">
                                <div style="padding-left:10px;">
                                    <h2 style="margin-bottom:5px; margin-top:10px">@Html.DisplayFor(modelItem => item.ProgramName)</h2>
                                    <p style="margin-top:5px; margin-bottom:0px">@Html.DisplayFor(modelItem => item.ProgramDescription)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="panel-footer">
                <a asp-action="AdminCreate" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>  New Program</a>
            </div>
        </div>
    </div>
</form>
